body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
