@import './style/reset.css';
@import './style/fonts.css';
@import './style/keyframes.css';

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Ruslan Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
